name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload site from public/src
        uses: actions/upload-pages-artifact@v2
        with:
          path: public/src

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2